<div class="d-flex justify-content-between">
  <h1 class="text-info text-capitalize">{{name}} Features</h1>
  <button type="button" [routerLink]="['/customers', customerId, 'features', 'add']" [queryParams]="{name: name}"
    class="btn btn-info mr-1">Assign Features</button>
</div>

<div class="row">
  <div class="col-4 pt-3 pb-3" *ngFor="let customerFeature of customerFeatures">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{customerFeature.feature.displayName}}</h5>
          <strong>{{customerFeature.active? 'Active': 'Not Active'}}</strong>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{customerFeature.feature.technicalName}}</h6>
        <p class="card-text">{{customerFeature.feature.description}}</p>
        <div class="d-flex justify-content-between">
          <div><small>Expires On: {{customerFeature.feature.expiresOn | date:'yyyy, MM, dd'}}</small></div>
          <div><small>{{customerFeature.feature.inverted? 'Inverted': 'Not Inverted'}}</small></div>
        </div>
        <small>Assigned At: {{customerFeature.assignedAt | date:'yyyy, MM, dd'}}</small>
      </div>
    </div>
  </div>
</div>
