<h1>Features</h1>

<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let feature of features">
      <div class="row bg-light rounded w-100 mb-2 p-1 border-left border-right">
        <div class="col-12  text-center">
          {{feature.displayName}}
        </div>
        <div class="col-12 text-center">
          {{feature.technicalName}}
        </div>
        <div class="col-12 text-center">
          {{feature.inverted}}
        </div>
        <div class="col-12 text-center">
          {{feature.expiresOn}}
        </div>
        <div class="col-12 text-center mb-2">
          {{feature.description}}
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm" [routerLink]="['/feature', feature.id]">
            Edit
          </button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-default btn-sm" [routerLink]="['/feature', feature.id, '/archive']">
            Archive
          </button>
        </div>
      </div>
    </div>
  </div>
</div>