<div class="d-flex justify-content-between">
  <h1 class="text-info">Features</h1>
  <button type="button" [routerLink]="['/features', '/add']" class="btn btn-info mr-1">New Feature</button>
</div>

<div class="row">
  <div class="col-4 pt-3 pb-3" *ngFor="let feature of features">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{feature.displayName}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{feature.technicalName}}</h6>
        <p class="card-text">{{feature.description}}</p>
        <div class="d-flex justify-content-between">
          <div><strong>Expires On: {{feature.expiresOn}}</strong></div>
          <div><small>{{feature.inverted? 'Inverted': 'Not Inverted'}}</small></div>
        </div>
        <div class="d-flex justify-content-end mt-2">
          <button type="button" [routerLink]="['/features', feature.id]" class="btn btn-info mr-1">Edit</button>
          <button type="button" [routerLink]="['/features', feature.id, '/archive']"
            class="btn btn-info">Archive</button>
        </div>
      </div>
    </div>
  </div>
</div>
