<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand text-black" href="#">
    <img src="../assets/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="logo">
    Feature Toggle
  </a>
</nav>

<div class="d-flex justify-content-around m-2">
  <a class="btn btn-outline-info btn-block border-left-0 border-right-0 border-top-0 m-2"
    [routerLink]="['/customers']">Customers</a>
  <a class="btn btn-outline-info btn-block border-left-0 border-right-0 border-top-0 m-2"
    [routerLink]="['/features']">Features</a>
</div>

<div class="m-2">
  <router-outlet></router-outlet>
</div>
