.btn-outline-info:hover, .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
  background: white;
  color: #17a2b8;
  font-weight: 600;
}

.btn-outline-info:focus {
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(23, 162, 184, .5);
}
